# Model, Calibration and Pricing Libary Notebook Explainer

Author: Max Chellew

In [1]:
import mcp

SPY = mcp.data("SPY")

In [2]:
SPY.callData

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,maturity
0,SPY241129C00463000,2024-11-27,463.0,136.45,135.28,136.51,2024-11-29
1,SPY241129C00466000,2024-11-27,466.0,133.39,132.28,133.51,2024-11-29
2,SPY241129C00472000,2024-11-27,472.0,127.18,126.29,127.51,2024-11-29
3,SPY241129C00476000,2024-11-27,476.0,122.26,122.29,123.51,2024-11-29
4,SPY241129C00477000,2024-11-27,477.0,121.37,121.29,122.51,2024-11-29
...,...,...,...,...,...,...,...
510,SPY260116C00700000,2024-11-27,700.0,7.87,7.86,7.97,2026-01-16
511,SPY260618C00380000,2024-11-27,380.0,242.67,241.35,244.35,2026-06-18
512,SPY260618C00450000,2024-11-27,450.0,181.57,180.14,183.14,2026-06-18
513,SPY260618C00600000,2024-11-27,600.0,65.50,64.04,67.04,2026-06-18
514,SPY270115C00730000,2024-11-27,730.0,19.45,18.79,19.90,2027-01-15